{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Customer Records</h1>
        <br>
        <table class="table table-striped table-hover table-bordered border-black table-group-divider">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              
                {% if records %}
                {% for record in records %}
                <tr>
                    <td>{{ record.first_name }} {{ record.last_name}}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td><a href="{% url 'view_record' record.id %}">View</a></td>

                </tr>
                {% endfor %}
                {% endif %} 
              
            </tbody>
        </table>

    {% else %}  
<br>

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
<br>
<p>You can login with username: <strong>testuser</strong> and password: <strong>password</strong></p>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
    {% endif %}

</div>

  
{% endblock content %}